.navbar {
  padding: 0;
  margin: 0;
}
#navbarNavDropdown {
  justify-content: flex-end;
}
.container-fluid {
  background-color: rgb(35, 84, 161);
}
#navbarNavDropdown a,
.navbar-brand {
  color: white;
  padding: 1rem;
  font-weight: bold;
}
.dropdown-menu {
  background-color: rgb(35, 84, 161);
}
.title {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.btn {
  position: relative;
}
.cards {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem;
}
.down-title {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.footer {
    text-align: center;
    color: white;
    background-color: rgb(35, 84, 161);
}
.footer p{
    margin-bottom: 0;
}
@media screen and (min-width:580px) {
.footer {
  text-align: center;
  color: white;
  background-color: rgb(35, 84, 161);
  position: absolute;
  bottom: 0;
  width: 100%;
}
}

@media screen and (max-width: 800px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .card {
    margin-bottom: 1rem;
  }
  .card-text {
    display: none;
  }
  .btn {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 580px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
